{% extends 'base.html' %}

{% block title %}
    Gif Search
{% endblock %}

{% block content %}
<h1>Gif Search</h1>

<form action='/'>
    <p>
        Search for a Gif?
        <input class="typeahead" type="text" name="search" placeholder="Type something please"/>
        <button type="submit">Submit</button>
    </p>
</form>

<form action='/'>
    <button type="submit" name="button" value="random">Random Gifs</button>
</form>

{% for gif in gifs %} {% include 'gif.html' %} {% endfor %}

{% endblock %}