{% extends 'base.html' %} {% block title %} Gif Search {% endblock %} {% block
content %}
<nav>
  <div class="logo">
    <h1>Gif it to me!</h1>
  </div>
  <div class="form_container">
    <form action="/">
      <p>
        <!-- Search for a Gif? -->
        <input
          class="typeahead"
          type="text"
          name="search"
          placeholder="Type something please"
        />
        <button type="submit" class="btn btn-primary">Search</button>
      </p>
    </form>

    <form action="/">
      <button
        type="submit"
        name="button"
        value="random"
        class="btn btn-primary"
      >
        Random Gifs
      </button>

      <button
        type="submit"
        name="button"
        value="trending"
        class="btn btn-primary"
      >
        Trending Gifs
      </button>
    </form>
  </div>
</nav>
{% if gif in gifs %} {% for gif in gifs %}
<div class="gif_container">{% include 'gif.html' %}</div>
{% endfor %} {% else %}
<h1>(0w0)</h1>
<h2>Wooks wike we don't have any gifs for dat. Pwease twy again!</h2>
{% endif %} {% endblock %}
